set -e

cd {{ output_dir }}

{% if conda_env is defined and conda_env %}
eval "$(micromamba shell hook --shell bash)"
micromamba env create -y -p ./{{ conda_env }} -c conda-forge python={{ python_version|default("3.12", true) }} {{ conda_pkgs|join(" ") }}
micromamba activate ./{{ conda_env }}
{% else %}
python -m venv {{ venv }}
. {{ venv }}/bin/activate
{% endif %}


pip install argparse2tool {% if (requirements is defined) and requirements %} {{ requirements|join(" ") }} {% endif %}

PYTHONPATH=$(argparse2tool) python {{ script_path }} --generate_cwl_tool {% if (cwl_outputs_path is defined) and cwl_outputs_path %} --output_section {{ cwl_outputs_path }} {% endif %}